<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- CSS Styles -->
<link href="css/lib/bootstrap.min.css" rel="stylesheet">
<link href="css/main.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600" rel="stylesheet">
<link href="css/lib/font-awesome.min.css" rel="stylesheet">

<!-- Javascript powered by Angular -->
<script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>
  <script
  src="http://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
  integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
  crossorigin="anonymous"></script>

<script src="node_modules/angular/angular.js"></script>
<script src="js/zen.js"></script>

<body ng-app="zen" ng-controller="zenCtrl">

<div class="zenform-holder">
	<div class="container">
		<h1 class="main-title">Zen Flight</h1>
		<form class="zenform" ng-submit="findFlights(search)" id="searchform">

		<div class="row">
			<div class="col-md-3">
				<div class="form-group">
					<label for="from">From:</label> 
					<input type="text" list="fromPlaces" ng-model="search.from" id="from" placeholder="Origin destination" autocomplete="off" list-validator="fromPlaces" required>
					<datalist id="fromPlaces">
				    	<option ng-repeat="n in completeFrom track by $index" data-id="n.id" value="{{n.id}}" >{{n.value}}</option>
					</datalist>
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group">
					<label for="to">To:</label> 
					<input type="text" list="toPlaces" ng-model="search.to" id="to" placeholder="Flight destination" autocomplete="off" required>
					<datalist id="toPlaces">
				    	<option ng-repeat="n in completeTo track by $index" value="{{n.id}}" >{{n.value}}</option>
					</datalist>
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group">
					<label for="date">Flight interval from:</label> 
					<input type="text" id="datepickerfrom" datepicker ng-model="search.dateFrom" placeholder="From date" autocomplete="off" required />
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group">
					<label for="date">Flight interval to:</label> 
					<input type="text" id="datepickerto" datepicker ng-model="search.dateTo" placeholder="To date" autocomplete="off" required />
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<button class="searchbutton" type="submit" id="submit">
					<i class="fa fa-search" aria-hidden="true"></i> Search flights
				</button>
			</div>
		</div>
		</form>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="flight-result-holder">
				<div class="single-flight-result" ng-repeat="flight in flights track by $index">
					<span class="result-time">
						<i class="fa fa-clock-o" aria-hidden="true"></i>
						{{flight.aTime * 1000 | date:'medium' : 'UTC'}}
					</span>
					<span class="result-destinations">
						{{flight.cityFrom}} 
							<i class="fa fa-angle-right" aria-hidden="true"></i>
 						{{flight.cityTo}}
					</span>
					<span class="result-duration">
						<i class="fa fa-plane" aria-hidden="true"></i> {{flight.fly_duration}}
					</span>
					<span class="result-price">
						{{flight.price}} EUR
					</span>
				</div>
			</div>
		</div>
	</div>
</div>


	<script>
		$('#datepickerfrom').datepicker({ dateFormat: 'dd/mm/yy' });
		$('#datepickerto').datepicker({ dateFormat: 'dd/mm/yy' });
	</script>
</body>
</html>