<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- CSS Styles -->
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/main.css" rel="stylesheet">

<!-- Javascript powered by Angular -->
<script src="node_modules/angular/angular.js"></script>
<script src="js/zen.js"></script>

<body ng-app="zen">

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<form class="zenform">
			<div class="form-group">
				<label for="exampleInputEmail1">From:</label> 
				<input type="text" ng-model="name" id="exampleInputEmail1">
			</div>

			<div class="form-group">
				<label for="exampleInputEmail1">To:</label> 
				<input type="text" ng-model="name" id="exampleInputEmail1">
			</div>

			<div class="form-group">
				<label for="exampleInputEmail1">Date:</label> 
				<input type="text" ng-model="name" id="exampleInputEmail1">
			</div>

			</form>
		</div>
	</div>
</div>

</body>
</html>