<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- CSS Styles -->
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/main.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600" rel="stylesheet">

<!-- Javascript powered by Angular -->
<script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>
  <script
  src="http://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
  integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
  crossorigin="anonymous"></script>

<script src="node_modules/angular/angular.js"></script>
<script src="js/zen.js"></script>

<body ng-app="zen" ng-controller="zenCtrl">

<div class="zenform-holder">
	<div class="container">
		<h1 class="main-title">Zen Flight</h1>
		<form class="zenform" ng-submit="findFlights()">

		<div class="row">
			<div class="col-md-3">

				<div class="form-group">
					<label for="from">From:</label> 
					<input type="text" list="fromPlaces" ng-model="from" id="from" ng-change="expression">
					<datalist id="fromPlaces">
				    	<option ng-repeat="n in completeFrom track by $index" value="{{n.value}}" />
					</datalist>
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group">
					<label for="to">To:</label> 
					<input type="text" list="toPlaces" ng-model="to" id="to">
					<datalist id="toPlaces">
				    	<option ng-repeat="n in completeTo track by $index" value="{{n.value}}" />
					</datalist>
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group">
					<label for="date">Flight interval from:</label> 
					<input type="text" id="datepickerfrom" datepicker ng-model="dateFrom" />
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group">
					<label for="date">Flight interval to:</label> 
					<input type="text" id="datepickerto" datepicker ng-model="dateTo" />
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<input type="submit" id="submit" value="Submit" />
			</div>
		</div>
		
		</form>
	</div>
</div>
{{ $flights }}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="flight-result-holder">
				<div class="single-flight-result" ng-repeat="flight in flights track by $index">
					{{flight.cityFrom}} >{{flight.fly_duration}} > {{flight.cityTo}} > {{flight.price}} EUR
				</div>
			</div>
		</div>
	</div>
</div>


<script>
	$('#datepickerfrom').datepicker();
	$('#datepickerto').datepicker();
</script>
</body>
</html>